

<div style="text-align: center;">
    <B style="font-size: 30px; text-transform: uppercase;">Our Products</B>


    <div *ngIf="IsPurshased ; then thenBlock ; else elseBlock"></div>

<ng-template #thenBlock>
    <table border="2" style="margin-left: 250px;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    
        <tr *ngFor="let item of ProductList">
            <td >{{item.ID}}</td>
            <td >{{item.Name}}</td>
            <td >{{item.Quantity}}</td>
            <td >{{item.Price}}</td>
            <td > <img [src]="item.Img"> </td>
        </tr>
    </table>
</ng-template>

<ng-template #elseBlock>
    <div>
        Thanks for purchasing from our Store {{clientName}}
    </div>
</ng-template>

<input [(ngModel)]="clientName" type="text" #txtvalue placeholder="Enter The name of client " style="width: 35%; padding: 15px; margin: 15px;">
<button (click)="toggleShow()" style="padding: 20px ; margin: 20px; color: blueviolet;"  >Buy</button>

<br>
<br>

{{parentData}}

<button (click)="send()">Sent Data To Perent</button>



<!-- ------------------------------------------------- -->

<hr>
<div *ngFor="let i of productList">
    {{i.ID}}
    {{i.Name}}
    {{i.Quantity}}
    {{i.Price}}
    <img [src]="i.Img">

</div>
<hr>
<!-- ------------------------------------------------------ -->

<h3> {{"ProductDetails:  ID :" + ProductID.ID + "   , Name   " + ProductID.Name + ",  Price "+ProductID.Price }} </h3> 



</div>



